[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/date"]
	path = external/date
	url = git@github.com:HowardHinnant/date.git
[submodule "external/eosjs_"]
	path = external/eosjs
	url = git@github.com:EOSIO/eosjs.git
