[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/eosjs2"]
	path = external/eosjs2
	url = https://github.com/EOSIO/eosjs2.git
